*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: snow;
    align-items: center;
    padding: 19px 9%;
}
ul{
    display: flex;
    list-style: none;
    gap: 21px;
}
a{
     text-decoration: none;
     color: #575757;
}
.blue{
    background-color: blue;
}
nav button{ 
   padding: 10px 24px;
   border-radius: 8px;
   border: none;
}

header{
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('./assets/banner.jpg');
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header-content{
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}
.header-content h1{
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -3.2px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 16px;
    
}
.header-content p{
    margin-bottom: 260px;
     font-size: 23px;
}
.header-content button{
    width: 25%;
    padding: 20px 50px;
    margin-left: 38%;
    margin-bottom: 16px;
    border-radius: 10px;
    border: none;
}

.speakers{
    width: 93%;
    max-width: 1200px;
    margin: 80px auto;
    box-sizing: border-box;
}
.section-title h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}
.speaker-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
}
.speaker-card {
    border: 1.5px solid whitesmoke;
    background: snow;
    border-radius: 13px;
    overflow: hidden;
    transition:.5s;
}
.speaker-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
.card-text {
    padding:22px;
}
.card-text span{
    color: #2563EB;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.card-text h3{
    margin: 12px 0;
    font-size: 26px;
    color: black;
}
.card-text p{
    line-height:1.6;
    color: #777;
    margin-bottom: 2px;
}

.pricing{
    width: 95%;
    max-width: 1000px;
    margin: 80px auto;
    box-sizing: border-box;
}
.title-pricing h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
}
.title-pricing p{
    text-align: center;
    color: #575757;
    margin-bottom: 50px;
}
.pricing-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.pricing-card{
    border-radius: 13px;
    overflow: hidden;
    padding: 35px;
}
.pricing-card p{
    margin-bottom: 10px;
    color: #777;
}
.pricing-card h2{
   font-size: 50px;
}
.pricing-container hr{
    color: lightgray;
    margin-bottom: 11px;
}
.pricing-card ul{
    margin-bottom: 15px;
    list-style: disc;
    padding-left: 1rem;
    display: block;
    font-size: 13px;
    line-height: 2;
}
.btn{
    width: 100%;
    padding: 0.875rem;
    margin-top: 11px;
    border-radius: 10px;
    font-weight: 600;
    background-color: white;
    border: 1.5px solid blue;
    cursor: pointer;
    text-align: center;
}
.btn span{
    color: blue;
}
.standard{
    border: 1.5px solid gainsboro;
    background-color: white;
}
.pro{
    border: 1.5px solid gainsboro;
    background-color: darkslategrey;
    color: #ffffff;
}
.pro p{
    color: cornflowerblue;
}
.btn-solid-blue{
    background-color: blue;
}
.btn-solid-blue span{
    color: white;
}
.team{
    border: 1.5px solid gainsboro;
    background-color: snow;
}
.black-solid-btn{
    background-color: whitesmoke;
    border-color: darkslategray;
}
.black-solid-btn span{
    color: black;
}
